$font-family: var(--font-family);
$secondary-font-family: var(--secondary-font-family);
$title-font: var(--secondary-font-family);

$background: var(--element-primary-background);
$background-variant: var(--element-secondary-background);
$border: var(--border);
$border-variant: var(--border-variant);
$text: var(--text);
$gray-base: var(--gray-base);
$gray-darker: var(--gray-darker);
$gray-dark: var(--gray-dark);
$gray: var(--gray);
$gray-light: var(--gray-light);
$gray-lighter: var(--gray-lighter);
$gray-border: var(--gray-border);

$primary: var(--primary-light);
$primary-dark: var(--primary-dark);
$primary-light: var(--primary-light);
$primary-accent: var(--primary-accent);
$text-on-primary: var(--text-on-primary);

$secondary: #121F36;
$secondary-dark: #121F36;
$secondary-light: var(--secondary-light);
$secondary-accent: var(--secondary-accent);
$text-on-secondary: var(--text-on-secondary);

$success: var(--success);
$warning: var(--warning);
$error: var(--error);